/* @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Cinzel:wght@400;500;700&family=Josefin+Sans:wght@100;400&family=Redressed&display=swap'); */

.container {
    padding-bottom: 20px;
    /* border: 2px solid grey */
}

#show {
    /* background: grey;
    border: solid black; */
    border-radius: 10px;
    margin: 40px;
    width: 20%;
    height: 50%;
    padding: 15px;
    font-size: 25px;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.cut {
    border: none;
}

.disp {
    height: 3em;
    width: 15em;
    margin: 1em;
    /* border: 0.3em solid black; */
    border-radius: 0.5em;
}